<div class="container" id="home-container">
  <div class="jumbotron p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center text-white">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%# <button class="btn btn-primary me-md-2" type="button">Register</button> %>
        <%# <button class="btn btn-primary" type="button">Login</button> %>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-primary me-md-2' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary text-white'  %>
        <% else %>
          <%= link_to "Register", new_user_registration_path, :class => 'btn btn-primary me-md-2'  %>
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary text-white'  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
